slide hgroup h3 {
  color: #999;
}

slide article h3 {
  font-weight: bold;
}

slide article p {
  line-height: 150%;
}

slide article p.code-label {
  margin-bottom: 10px;
}

slide article.centered {
  text-align: center;
}

slide#in-the-beginning div.build, slide#groupme-and-aws article div {
  margin-top: 130px;
  text-align: center;
}

img#groupme-logo {
  display: inline-block;
}

img#heroku-logo {
  display: inline-block;
  margin-bottom: 40px;
}

img#aws-logo {
  display: inline-block;
  margin-bottom: 30px;
}

span.disclaimer {
  color: gray;
  font-size: 75%;
}

slide.dark aside.note {
  color: #666;
  line-height: 30px;
}

slide#peace p a {
  border-bottom-color: #666;
  color: #999;
  font-size: 85%;
}